[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=flowplayer
Exec=flowplayer
Name=FlowPlayer

[X-Sailjail]
OrganizationName=sailfishos-applications
# ApplicationName does not have to be identical to Name
ApplicationName=flowplayer
# Add the required permissions here
Permissions=UserDirs;Audio;Bluetooth;Internet;RemovableMedia
